@import "tailwindcss";

@theme {
  extend:{
    colors: {
      primary: #FFD700;
      secondary: #FFA500;
    },
    fontFamily: {
      --font-poppins: Poppins, sans-serif;
      --font-averia: Averia Serif Libre, serif;
    },
  
  },
}